ConfigParser==5.3.0
cryptography==38.0.1
Cython==0.29.32
dl==0.1.0
dLib
argparse==1.4.0
Flask==2.2.2
HTMLParser==0.0.2
ipaddr==2.2.0
lxml==4.9.1
numpy==1.21.5
opencv_python==4.5.5.62
protobuf==4.21.7
pyOpenSSL==22.1.0
Pyrebase==3.0.10
scipy==1.7.3

